@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors


// Update Bulma's global variables
$Card2Color: #9EAD84;
$clearBG: #FFF;

// Update some of Bulma's component variables
.columns 
    background-color: $Card2Color;
    margin-left: 165px;
    margin-right: 165px; 
    text-align: center;
    height: 686px;

.ColBody
    background-color: $clearBG;
    margin-left: 165px;
    margin-right: 165px;

.column is-one-quarter
    margin-left: -25px;

.Title
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 30px;

.TextBody
    margin-top: 26px;
    margin-left: -30px;
    font-size: 24px;

img
    width: 918px;
    margin-left: -30px;



// Import only what you need from Bulma
@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/base/_all.sass';
@import '../../../node_modules/bulma/sass/grid/_all.sass';

@import '../../../node_modules/bulma/sass/elements/button.sass';
@import '../../../node_modules/bulma/sass/elements/container.sass';
@import '../../../node_modules/bulma/sass/elements/form.sass';
@import '../../../node_modules/bulma/sass/elements/title.sass';
@import '../../../node_modules/bulma/sass/components/navbar.sass';
@import '../../../node_modules/bulma/sass/layout/hero.sass';
@import '../../../node_modules/bulma/sass/layout/section.sass';