@import "../../styles/styles";

.card
    width: 29.0625rem;
    height: 51.8125rem;
    background-color: $Card1Color;
    text-align: center;
    
.card-image
    margin-left: auto;
    margin-right: auto;
    width: 23.8125rem;
    height: 14.1875rem;

.media-content
    margin-top: 6.25rem;
    font-size: 1,5rem;

.content
    margin-left: 1rem;
    margin-right: 1rem;
